if data.item
    ul.rlist.article-chapter-history-list
        if data.item.received && thisWidget.properties.displayReceived == "true"
            li
                span.item_label Manuscript received: 
                | !{data.item.received}

        if data.item.accepted && thisWidget.properties.displayAccepted == "true"
            li
                span.item_label Manuscript accepted: 
                | !{data.item.accepted}

        if data.item.epub && thisWidget.properties.displayEpub == "true"
            li
                span.item_label Originally published: 
                | !{data.item.epub}

        if data.item.revised && thisWidget.properties.displayRevised == "true"
            li
                span.item_label Manuscript revised: 
                | !{data.item.revised}

        if data.item.realPubDate && thisWidget.properties.displayRealPubDate == "true"
            li
                span.item_label Published in print: 
                | !{data.item.realPubDate}