extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p This is not a UX3 widget, this is a legacy widget.


    section.source_section
        h2 Example
        p The following example demonstrates Edit User Personal Message widget.

        h3 Unverified Email Message
        .source_example
            .container.wrapper
                | !{pb.render("edit-user-message", "userNotVerified.json")}

        h3 Social Login Message
        .source_example
            .container.wrapper
                | !{pb.render("edit-user-message", "noSocialLinks.json")}

        h3 eCommerce Address Message
        .source_example
            .container.wrapper
                | !{pb.render("edit-user-message", "noEcommAddress.json")}

        h3 eCommerce Address Message
        .source_example
            .container.wrapper
                | !{pb.render("edit-user-message", "noProfessionalInfo.json")}

    | #{''}


