extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    h1 Exam List and Activity Pages

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        p The following page layout is used for the Exam List (/action/showExams) and Exam Activity (/action/showExamActivity) pages.
        p There is an HTML widget added at the top of the page to provide the title and a description. Publishers should update this message as needed. The following is sample text that can be used.
        .source_example
            h1 Available Exams
            p Below is a full list of available exams. These exams are available for two years from the time the related article is published.
        .source_example
            h1 Exam Activity
            p The following list includes exams you have attempted or completed. From here, you can retake incomplete exams or view your certificate for completed exams.

    section.source_section
        h2 Exams Page
        markdown
        code.src-html
        .source_example
            | !{pb.render('header', 'header/demo/header')}
            main.content
                .container
                    .row
                        div.col-xs-12.exam-header
                            //- HTML Widget - Exam List
                            h1 Available Exams
                            p Below is a full list of available exams. These exams are available for two years from the time the related article is published.
                                
                .container
                    .row
                        .col-sm-8
                            //- We add an extra 'My Exams' widget here that will appear on mobile devices to simplify navigation.
                            | !{pb.render('my-exams', 'data.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["hidden-lg hidden-md"], "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}, "data": {"title": "My Exams"}}}})}
                            
                            | !{pb.render('exam-list', 'data.json', {"shared": {"model": {"config": {"wrapper": "false", "headingLevel": "h3", "headingClass": ["section__header border-bottom hidden-text"]}, "data": {"title": "Available Exams"}}}})}

                        .col-sm-4
                            | !{pb.render('my-exams', 'data.json', {"shared": {"model": {"config": {"wrapper": "false", "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}, "data": {"title": "My Exams"}}}})}
                            //- Additional widgets can be added in the right column here.

            | !{pb.render('footer', 'footer/demo/footer')}

    | #{''}