extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 My Exams
            h3 Include template
            +printJsCode('include /specs/ux3/widgets/my-exams/templates/my-exams/my-exams-tmpl.jade')
        h3 Data
        markdown
            p The following the JSON structure must exist to be able to use My Exams template.
        +printJson({
            "data": {
                "session": {
                    "person": {
                        "examActivity": [
                            {
                                "creditsEarned": 0
                            },
                            {
                                "creditsEarned": 0.75
                            },
                            {
                                "creditsEarned": 1
                            },
                            {
                                "creditsEarned": 0.75
                            },
                            {
                                "creditsEarned": 0.25
                            },
                            {
                                "creditsEarned": 1
                            }
                        ]
                    }
                }
            },
            "errors": []
        })
    | #{''}

    section.source_section
        h2 Examples
        
        h3 Example - Logged in with exam history
        p When the user is logged in and has exam history, they should see the number of credits they have earned and links to their exam activity and all available exams.
        .source_example
            .container
                .col-sm-4
                    | !{pb.render("my-exams", "data.json", {"shared": {"model": {"config": {"wrapper": "true", "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}}}})}

        h3 Example - Logged in with no exam history
        p When the user is logged in but has no exam history, they should see that they have 0 credits, and they should see a link to browse the available exams.
        .source_example
            .container
                .col-sm-4
                    | !{pb.render("my-exams", "data-no-history.json", {"shared": {"model": {"config": {"wrapper": "true", "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}}}})}

        h3 Example - Logged Out
        p When the user is logged out, they should see a link that allows them to sign in, and they should see a link to browse the available exams.
        .source_example
            .container
                .col-sm-4
                    | !{pb.render("my-exams", "data-logged-out.json", {"shared": {"model": {"config": {"wrapper": "true", "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}}}})}

    | #{''}