extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/device-pairing/templates/device-pairing/device-pairing-tmpl.jade')
        h3 Data
        p The following data structure must exist to be able to use device pairing template.

        +printJson(
        )


    | #{''}

    section.source_section
        h2 Examples

        h3 Device Pairing
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/demo/demo-device-pairing", "data.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Device Pairing Institution
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/demo/demo-device-pairing-institution", "data-inst.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Select Institution Email
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/choose-inst-email", "data-select-inst-email.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Add New Institution Email
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/add-inst-email", "data-select-inst-email.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Select Your Institution
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/select-inst", "data-select-inst.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Select Your Institution // access denial
        p this is valid on the following cases
        ul
            li a. If email doesn't match any institution: instNoRemoteAccess: true
            li b. If pairing is expired or revoked: devicePairingExpiredOrRevoked: true
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/select-inst", "data-select-no-inst.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Auth Email Sent
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/auth-email-sent", "data-auth-email.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Pairing Device Set Device Name
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/set-device-name", "data-set-device-name.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Verify Pairing Device Confirm
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/verify-device-confirm", "data-pairing-success.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Verify Pairing Device Error
        .source_example
            div.container
                | !{pb.render("device-pairing", "device-pairing/verify-device-error", "data-error.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}
            


    | #{''}