extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    h1 Book Table Of Content page

    section.source_section
        h2 Book Table Of Content page
        markdown
        code.src-html
        .source_example
            | !{pb.render("header", "header", "header-journal.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-bacteriology"]}}}})}
            main.content.toc.series-bacteriology
                .meta-wrapper

                .container
                    | !{pb.render("generic-widget", "demo/book-header-demo", "book-header.json")}
                    | !{pb.render("generic-widget", "demo/book-menu-demo", "book-menu.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                    
                    .row.separator
                        .col-lg-9.col-md-8
                            | !{pb.render("breadcrumbs", "book-toc.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                            | !{pb.render('html', {"thisWidget": {"id":"tocheading", "properties": {"render": "html", "html": "<h2 class=\"tocPageHead\">Fire Blight: History, Biology, and Management</h2>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                            | !{pb.render("table-of-content", "table-of-content/markup-book")}

                        .col-lg-3.col-md-4
                            // tower ad
                            .towerad.side-tower.visible-xlg
                            | !{pb.render("generic-widget", "generic-widget/issue-book-details", "issue-book-details-book.json", {"shared": {"model": {"config": {"wrapper": "true", "className": [" "]}}}})}
                            

            | !{pb.render("footer", "footer.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-bacteriology"]}}}})}
    | #{''}