extends ../../../../components/teaser/templates/teaser/teaser-home-tmpl

- var image = 'false';
- if (model !== undefined) config = model.config;
- var headingEl = (config) && (config.headingLevel) ? config.headingLevel : 'h5';

mixin heading(item)
    block teaserHeader
        if (item.title)
            if (item.best)
                a(href=item.best title=item.title)
                    #{headingEl}(class="creative-work__title" data-truncate-lines="2" data-truncate-add-class="min-height") !{item.title}
            else
                #{headingEl}(class="creative-work__title" data-truncate-lines="2" data-truncate-add-class="min-height") !{item.title}

mixin teaser(item)
    - image = 'false';
    div.creative-work
        .delayLoad
            +heading(item)

            if (item.contribs)
                | !{item.contribs}

            block meta
                div.meta
                    if (item) && (item.epubDate)
                        | !{pb.render('date', {date: item.epubDate, format: 'dateMonthYearShort'})} |

                    if (item.group && item.group.serial && item.group.serial.title)
                        | #{' '}
                        | !{item.group.serial.title}

        +loading(image)


mixin render(items)
    - var itemNo = items.length
    if itemNo > 1
        ul.rlist.lot
            each item, l in items
                li.grid-item
                    +teaser(item)
    else
        each item, l in items
            +teaser(item)

if ((data) && (data.items) && (data.items.length > 0))
    +render(data.items)
else
    div.multi-search__no-result
        | !{thisWidget.properties.noResultMessage}
    

