extends ../../../../components/teaser/templates/teaser/teaser-tmpl

block authors
    if (thisWidget && thisWidget.properties && thisWidget.properties.displayAuthors === "true" && item.contribs)
        | !{item.contribs}


block teaserRenderedData
    mixin topicDropdown(tags)
        block topicDropdown
            div.multi-search-dropzone
                if(thisWidget && thisWidget.id)
                    div.base.dropBlock.multi-search__dropblock(class="dropBlock-target_#{thisWidget.id}")
                        a.inline-icon(data-db-target-for="dropBlock-target_#{thisWidget.id}" data-db-switch="rotate")
                            span
                                if(thisWidget.properties && thisWidget.properties.dropdownLabel)
                                    | !{thisWidget.properties.dropdownLabel}
                                else
                                    | Tags
                            i.icon-section_arrow_d(aria-hidden="true")
                        div.dropBlock__holder.multi-search__dropblock__holder(data-db-target-of="dropBlock-target_#{thisWidget.id}")
                            ul.multi-search__dropblock-list
                                each item in tags
                                    li
                                        a(href="javascript:void(0)" data-value=item.value data-label=item.label)
                                            span !{item.label}


    block multiSearchClasses
        -var DOItemclasses="";
        -var listclasses="rlist lot";
        -var articleItemclasses="";
        -var moreLinkclasses="more-link";
        -var parentContainerClass = "";

    block content
        .multi-search(class=parentContainerClass)
            if(data && data.tags)
                +topicDropdown(data.tags)
            if(!data.tags && data.currentTopic)
                ul.facet__list--applied.rlist--inline
                    li
                        span(title=data.currentTopic)
                            | !{data.currentTopic}
                            a.remove-topic
                                i.icon-tools_close(aria-hidden="true")

            if ((data) && (data.items) && (data.items.length > 0))
                - var itemNo = data.items.length
                if itemNo > 0
                    block multiSearchList
                        ul(class=listclasses)
                            each item, l in data.items
                                if(item.type == "Digital Object Pub")
                                    li(class=DOItemclasses )
                                        | !{item.render}
                                else
                                    li(class=articleItemclasses)
                                        +teaser(item)

                    block  multiSearchExtraInfo


                    if (data.widget) && (data.widget.moreUrl)
                        a(class=moreLinkclasses,href=data.widget.moreUrl)
                            if (data.widget) && (data.widget.moreText)
                                | !{data.widget.moreText}
                            else
                                | Show More

            else
                div.multi-search__no-result
                    | !{thisWidget.properties.noResultMessage}
