extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    section.source_section
        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/facet-date/templates/facet-date/facet-date-tmpl.jade')
        h3 Data
            +printJson({
                "title": "Publication Date",
                "style": "facet",
                "values": [
                    {
                        "label": "Last Year",
                        "link": "#",
                        "count": 208
                    },
                    {
                        "label": "Last 6 Months",
                        "link": "#",
                        "count": 57
                    },
                    {
                        "label": "Last 3 Months",
                        "link": "#",
                        "count": 35
                    },
                    {
                        "label": "Last Month",
                        "link": "#",
                        "count": 7
                    }
                ],
                "maxDate": "2017",
                "minDate": "2000"
            })


        markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `style`
                        td Date facet style, `facet` `slider` `list`
                    tr
                        td `maxDate` `minDate`
                        td available for `slider` and `list`

    | #{''}



    section.source_section
        h2 Date Facet
        .source_example
            | !{pb.render('facet-date', 'facets.json')}

    section.source_section
        h2 Date Range Facet
        p You can use <code>UX.facetDate.on.rangeUpdate(...)</code> function to attach a callback to the date range slider. The callback function is invoked when the start or end date changes. Start and end dates get passed to the callback as arguments. See the example below.
        +printJsCode("UX.facetDate.on.rangeUpdate('.range-slider__range', function (start, end) {...})")
        .source_example
            | !{pb.render('facet-date', 'slider.json')}

    section.source_section
        h2 Year / Month List date Facet
        .source_example
            | !{pb.render('facet-date', 'list.json')}

    section.source_section
        h2 Facet date chart
        .source_example
            | !{pb.render('facet-date', 'chart.json')}

    | #{''}

