extends ../article/details-tab-tmpl.jade

block detailsTabTopDropzone
    | !{pb.render("generic-widget", "generic-widget/issue-book-details", "issue-book-details-article.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["clearfix ruledSection"]}}}})}
    | !{pb.render("html", "article-count.json", {"shared": {"model": {"config": {"wrapper": "true", "className": [" "]}}}})}
    | !{pb.render("html", "altmetric-widget.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["clearfix"]}}}})}
    | !{pb.render("html", "dimensions-badge.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["clearfix ruledSection"]}}}})}
    | !{pb.render("generic-widget", "generic-widget/aps-article-history", "aps-article-history.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["ruledSection"], "headingLevel": "h6", "headingClass": ["section__title"]}, "data": {"title": "Article History"}}}})}