extends ../../../../../ux3/components/access-icon/templates/access-icon/access-icon-tmpl

block topAccessIcon
    - accessValues = {"FULL_ACCESS":{"text":"Full Access", "title":"You have full access to this content"},"no-access":{"text":"No Access", "title":"You do not have access to the full text of this content"},"open-access":{"text":"OPEN", "title":"This content is available through an open access license"},"FREE_ACCESS":{"text":"OPEN", "title":"You have full access to this content"}}


block citationLicense
    if(currentAccess)

        span.article__access__type(title=currentAccess.title)
            if(data.access=="FREE_ACCESS" || data.access=="FULL_ACCESS")
                if(data.license.type === "open-access")
                    img(src="/products/aps/releasedAssets/images/open-access-icon.png" alt="Open Access icon")
                    span(class="#{data.license.type} citation__access__type")  !{currentAccess.text}
                else
                    img(src="/products/aps/releasedAssets/images/open-access-icon.png" alt="Free Access icon")
            else if(data.license && data.license.type)
                if (data.license.type === "full-access")
                    i.citation__acess__icon.icon-lock_open(aria-hidden="true")
                    span(class="#{data.license.type} citation__access__type")  !{currentAccess.text}
                else if (data.license.type === "no-access")
                    i.citation__acess__icon.icon-Icon_Permissions-Locked(aria-hidden="true")
                    span(class="#{data.license.type} citation__access__type")  !{currentAccess.text}
                else if (data.license.type === "open-access")
                    img(src="/products/aps/releasedAssets/images/open-access-icon.png" alt="Open Access icon")
                    span(class="#{data.license.type} citation__access__type")  !{currentAccess.text}
        
block openAccess
    if (data.license && data.license.ccType)
        if (data.license.ccType === "cc-by")
            span.article__cc
                i.citation__top__item.icon-cc_large2
                    span.sr-only Creative Commons license
    else
        if (data.license && data.license.type === "open-access")
            span.sr-only Open Access license