extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p The <strong>Institution Banner</strong>

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/institution-banner/templates/institution-banner/institution-banner-tmpl.jade')
        h3 Data
        p The following (or similar) data structure must exist to be able to use Institution Banner widget.

        +printJson({
            "model": {
                "data": {
                    "itemUrl": "#",
                    "image": "/specs/products/aps/releasedAssets/images/logo.png",
                    "institution": "Atypon Institution",
                    "introText": "brought to you by"
                }
            }
        })


    | #{''}

    section.source_section
        h2 Examples

        h3 Institution Banner - with Graphic Banner
        .source_example
            | !{pb.render("institution-banner", "banner-graphic.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Institution Banner - with Graphic Banner and wrapper
        .source_example
            | !{pb.render("institution-banner", "banner-graphic.json", {"shared": {"model": {"config": {"wrapper": "true", "className": "institution--block"}}}})}

        h3 Institution Banner - without Graphic Banner
        .source_example
            | !{pb.render("institution-banner", "banner.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

    | #{''}


