extends ../../../../../ux3/widgets/search-result/templates/search-result/search-result-tmpl

block searchMeta
    div.meta__details
        if (item.content.type == "Journal")
            block currentIssueTitle
                | Current Issue:&nbsp;
        if (item.content.latestIssue)
            if (item.content.latestIssue.volume && item.content.latestIssue.issue && item.content.latestIssue.volume)
                a.meta__vol(href=item.content.latestIssue.tocUrl) Volume !{item.content.latestIssue.volume}, Number !{item.content.latestIssue.issue}
            if (item.content.latestIssue.coverDate && item.content.latestIssue.tocUrl)
                a.meta__date(href= item.content.latestIssue.tocUrl) !{item.content.latestIssue.coverDate}
        if (item.content.coverDate)
            span.meta__date !{item.content.coverDate}
        if (item.content.edition)
            span.meta__edition !{item.content.edition}
        if (item.content.epubDate)
            span.meta__epubDate !{item.content.epubDate}
        if (item.content.group)
            if (item.content.group.volume && item.content.group.issue)
                a.meta__volume(href= item.content.group.tocUrl) Volume !{item.content.group.volume}, Number !{item.content.group.issue}
            if (item.content.group.serial)
                a.meta__serial(href= item.content.group.serial.journalUrl) !{item.content.group.serial.title}
            block searchMetaTitle
                if (item.content.group.title)
                    a.meta__title(href= item.content.group.bookLink) !{item.content.group.title}
            if (item.content.group.coverDate)
                a.meta__coverDate(href= item.content.group.bookLink) !{item.content.group.coverDate}