extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p The <strong>Teaser</strong> component contains the following components: #[a(href="../parent-item/") Parent item], #[a(href="../loa/") List of authors]
        p The <strong>Teaser</strong> component is included in the following widgets: #[a(href="../../widgets/most-x/") Most - X widget]

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        h4 Default
        +printJsCode('include /specs/ux3/components/teaser/templates/teaser/teaser-tmpl.jade')
        h4 Home page
        +printJsCode('include /specs/ux3/components/teaser/templates/teaser/teaser-home-tmpl.jade')
        h4 Featured
        +printJsCode('include /specs/ux3/components/teaser/templates/teaser/teaser-featured-tmpl.jade')

    | #{''}

    section.source_section
        h2 Examples

        h3 Default Teaser
        .source_example
            | !{pb.render('teaser', 'creative-work-default.json')}

        h3 Homepage Teaser
        .source_example
            | !{pb.render('teaser', 'creative-work-home.json')}

        h3 Featured Teaser
        .source_example
            | !{pb.render('teaser', 'creative-work-featured.json')}

        h3 List of Teasers
        .source_example
            | !{pb.render('teaser', 'creative-work-list.json')}

    | #{''}