extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content

    .source_info
        markdown
            p <strong>Progress Bar</strong> As the user scrolls down the page, the Progress Bar will change to reflect how much of the article you've read


    section.source_section
        h2 Usage
        p Use the following HTMl stucture to control the animated progressBar functionality

        .source_visible.source_example.src-html
            .progress-bar--wrapper
                .progress-bar


    section.source_section
        h2 ProgressBar on header example
        p in the following example we added the Progress Bar inside the header underbeneath the menu
        .source_example.container
            | !{pb.render("header", "header/demo/header-progressBar")}
            main.content
                .container

                    | !{data.items[0].body}

            | !{pb.render("footer", "footer/demo/footer")}



    section.source_section
        h2 ProgressBar on coolbar example
        p in the following example we added the Progress Bar inside the coolbar
        .source_example.container
            | !{pb.render("header", "header/demo/header")}
            main.content
               .container

                   | !{data.items[1].body}



            | !{pb.render("footer", "footer/demo/footer")}

    style.
        .source_section .scrollThenFix, .source_section .stickybar--sticky .stickybar__wrapper {
            position: static !important;
        }
    | #{''}

