extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    section.source_section
        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/tables/templates/tables/tables-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Table template.
        +printJson({
            "config": {
                "checkbox": false
            },
            "data": {
                "headings": [
                    {
                        "content": "Publication title"
                    },
                    {
                        "content": "ISSN/ISBN"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "publictaion title 1"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "publictaion title 2"
                            },
                            {
                                "content": "Dolor sit amet"
                            }
                        ]
                    }
                ],
                "actions": [
                    {
                        "content": "DELETE"
                    }
                ]
            }
        })

        markdown
            p You can add custom classes to the container elements by passing an array of additional class names in `"addClassNames": ["...", "..."]` field for these elements. If you need to replace the default class name, use `"useClassNames": ["...", "..."]` instead. See the table below for the list of container elements and their default class names.

            table
                thead
                    tr
                        th Container element
                        th Default class name
                        th Description
                tbody
                    tr
                        td `wrapper`
                        td no default class
                        td Main component container

            p `content` contains the content for table cells; use `headings` to provide content for table headers; use `rows` and `cols` to provide content for data cells; use `action` to add action buttons. The content can be plain text or HTML.
    | #{''}

    section.source_section
        h2 Examples
        h3 Default Table
        +printJson({
            "config": {
                "checkbox": false
            },
            "data": {
                "headings": [
                    {
                        "content": "Publication title"
                    },
                    {
                        "content": "ISSN/ISBN"
                    },
                    {
                        "content": "Coverage"
                    },
                    {
                        "content": "Access period"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "publictaion title 1"
                            },
                            {
                                "content": "Lorem Ipsum"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "publictaion title 2"
                            },
                            {
                                "content": "Dolor sit amet"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "Extremely long publictaion title 3"
                            },
                            {
                                "content": "Dolor sit amet"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'default.json', {"shared": {"model": {"config": {"wrapper": "false"}}}})}


        h3 Bordered Table
        markdown
            p Add `separator` class to the table to add border between rows.
        +printJson({
            "config": {
                "checkbox": false,
                "wrapper": {
                    "addClassNames": ["separator"]
                }
            },
            "data": {
                "responsive": "responsive",
                "headings": [
                    {
                        "content": "Publication title"
                    },
                    {
                        "content": "ISSN/ISBN"
                    },
                    {
                        "content": "Coverage"
                    },
                    {
                        "content": "Access period"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "publictaion title 1"
                            },
                            {
                                "content": "Lorem Ipsum"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "publictaion title 2"
                            },
                            {
                                "content": "Dolor sit amet"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "Extremely long publictaion title 3"
                            },
                            {
                                "content": "Dolor sit amet"
                            },
                            {
                                "content": "Hello world"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'bordered.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["separator"]}}}})}

        h3 Expandable Table
        markdown
            p A table can be made expandable by adding the `expandable` class.
            p `expandable` class is used for styling and to attach JavaScript event handlers. When JavaScript is not enabled, the tables will be initialized as fully visible.
            p Each `td` in `tbody` must have a `data-thead` attribute (generated by the template from heading); it is then used to create title on smaller screens.
            p Use `unlabeled` class for table cells that should be unlabeled on mobile devices.
        +printJson({
            "config": {
                "checkbox": false,
                "wrapper": {
                    "addClassNames": ["expandable", "separator"]
                }
            },
            "data": {
                "headings": [
                    {
                        "content": "Article Title"
                    },
                    {
                        "content": "Publication"
                    },
                    {
                        "content": "Publication Date"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "The Lorem Test on Ipsum"
                            },
                            {
                                "content": "Journal of dolor sid amet"
                            },
                            {
                                "content": "6 Dec 2016"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "The Lorem Test on Ipsum 2"
                            },
                            {
                                "content": "Journal of dolor sid amet"
                            },
                            {
                                "content": "6 Dec 2016"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "The Lorem Test on Ipsum 3"
                            },
                            {
                                "content": "Journal of dolor sid amet"
                            },
                            {
                                "content": "6 Dec 2016"
                            }
                        ]
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'expandable.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["separator"]}}}})}


        h3 Checkbox Table
        markdown
            p Add `table-checkboxes` class for tables containing checkboxes.
        +printJson({
            "config": {
                "checkbox": true,
                "wrapper": {
                    "addClassNames": ["table-checkboxes"]
                }
            },
            "data": {
                "headings": [
                    {
                        "content": "Description"
                    },
                    {
                        "content": "IP Ranges"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "ACID Test Atypon"
                            },
                            {
                                "content": "127.000.000.000:127.000.000.001"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "Atypon Athens - DSL"
                            },
                            {
                                "content": "127.000.000.000:127.000.000.001"
                            }
                        ]
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'checkbox.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["table-checkboxes"]}}}})}



        h3 Checkbox Expandable Table
        +printJson({
            "config": {
                "checkbox": true,
                "wrapper": {
                    "addClassNames": ["table-checkboxes", "expandable", "separator"]
                }
            },
            "data": {
                "headings": [
                    {
                        "content": "Article title"
                    },
                    {
                        "content": "Description"
                    },
                    {
                        "content": "IP Ranges"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "content": "Publication 1"
                            },
                            {
                                "content": "ACID Test Atypon"
                            },
                            {
                                "content": "127.000.000.000:127.000.000.001"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "content": "Publication 2"
                            },
                            {
                                "content": "Atypon Athens - DSL"
                            },
                            {
                                "content": "127.000.000.000:127.000.000.001"
                            }
                        ]
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'checkbox-expandable.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["table-checkboxes", "separator"]}}}})}



        h3 Saved Search Tables
        markdown
            p Use `stacked` class for table to make the table cells act as DIV blocks with full width.
            p Use `action` class for table cells that should have `auto` width in `stacked` table.
        +printJson({
            "config": {
                "wrapper": {
                    "addClassNames": ["separator", "stacked", "unlabeled"]
                }
            },
            "data": {
                "headings": [
                    {
                        "content": "Saved Search Name"
                    },
                    {
                        "content": "Random text"
                    }
                ],
                "rows": [
                    {
                        "cols": [
                            {
                                "class": "unlabeled",
                                "content": "Test 1"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "class": "unlabeled",
                                "content": "Test 2"
                            },
                            {

                                "content": "Dolor sit amet"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "class": "unlabeled",
                                "content": "Test 3"
                            },
                            {
                                "content": "Dolor sit amet"
                            }
                        ]
                    },
                    {
                        "cols": [
                            {
                                "class": "unlabeled",
                                "content": "Test 4"
                            },
                            {
                                "content": "Lorem Ipsum"
                            }
                        ]
                    }
                ],
                "actions": [
                    {
                        "content": "RUN"
                    },
                    {
                        "content": "DELETE"
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tables', 'saved-search.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["separator", "stacked", "unlabeled"]}}}})}

        | #{''}



        h3 Sortable rows (to work jquey-ui must included)

            +printJson({
                "config": {
                    "config": {
                        "checkbox": false,
                        "expandable": true,
                        "sortable": true,
                        "border": true
                    },
                    "data": {
                        "headings": [
                            {
                                "content": "ORCID"
                            },
                            {
                                "content": "Auth. Name"
                            },
                            {
                                "content": "Auth Surname"
                            },
                            {
                                "content": "Affiliation"
                            },
                            {
                                "content": "Contact Information"
                            }
                        ],
                        "rows": [
                            {
                                "sortable": true,
                                "cols": [
                                    {
                                        "content": "0000-0003-2587-7647"
                                    },
                                    {
                                        "content": "Gustave"
                                    },
                                    {
                                        "content": "Lecourbine"
                                    },
                                    {
                                        "content": "ETH Zurich"
                                    },
                                    {
                                        "content": "lecourine@ethzurich.edu.ch"
                                    }
                                ]
                            },
                            {
                                "sortable": true,
                                "cols": [
                                    {
                                        "content": "0000-0003-2587-7647"
                                    },
                                    {
                                        "content": "Gustave"
                                    },
                                    {
                                        "content": "Lecourbine"
                                    },
                                    {
                                        "content": "ETH Zurich"
                                    },
                                    {
                                        "content": "lecourine@ethzurich.edu.ch"
                                    }
                                ]
                            },
                            {
                                "sortable": true,
                                "cols": [
                                    {
                                        "content": "0000-0003-2587-7647"
                                    },
                                    {
                                        "content": "Gustave"
                                    },
                                    {
                                        "content": "Lecourbine"
                                    },
                                    {
                                        "content": "ETH Zurich"
                                    },
                                    {
                                        "content": "lecourine@ethzurich.edu.ch"
                                    }
                                ]
                            },
                            {
                                "sortable": true,
                                "cols": [
                                    {
                                        "content": "0000-0003-2587-7647"
                                    },
                                    {
                                        "content": "Gustave"
                                    },
                                    {
                                        "content": "Lecourbine"
                                    },
                                    {
                                        "content": "ETH Zurich"
                                    },
                                    {
                                        "content": "lecourine@ethzurich.edu.ch"
                                    }
                                ]
                            }

                        ]
                    }
                }
            })
            .source_example
                | !{pb.render('tables', 'sortable.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["separator", "stacked", "unlabeled"]}}}})}

            | #{''}