extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    h1 Search Result page
    section.source_section
        h2 Search Result page
        markdown
        code.src-html
        .source_example
            | !{pb.render("header", "header.json")}
            main.content
                .quickSearchRegion
                    .container
                        .row
                            .col-lg-12.clearfix
                                .quickSearchFormContainer
                                    | !{pb.render("quick-search", "quick-search.json")}
                .container
                    | !{pb.render("breadcrumbs", "search-results.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["card"]}}}})}
                .container
                    .row
                        .col-sm-3
                            #filter.hidden-xs.hidden-sm.search__filters
                                | !{pb.render("search-facets", "facet-search.json")}
                        .col-sm-9
                            | !{pb.render("search-result", "search.json", {"shared": {"model": {"config": {"wrapper": "true", "className": [""], "headingLevel": "h2", "headingClass": ["pageTitle"]}, "data": {"title": "Search Results"}}}})}

            | !{pb.render("footer", "footer.json")}
    | #{''}

    section.source_section
        h2 Search Result Book page
        markdown
        code.src-html
        .source_example
            | !{pb.render("header", "header.json")}
            main.content
                .quickSearchRegion.dark
                    .container
                        .row
                            div.col-lg-12.clearfix
                                | !{pb.render("quick-search", "quick-search.json")}

                .container
                    .row
                        .col-sm-4
                            #filter.hidden-xs.hidden-sm.search__filters
                                | !{pb.render("search-facets", "facet-search.json")}
                        .col-sm-8
                            | !{pb.render("search-result", "search-result/demo/demo-search-result-books", "search_book.json")}

            | !{pb.render("footer", "footer.json")}
    | #{''}