extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p <strong>Ad Placeholder</strong>

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/ad-placeholder/templates/ad-placeholder/ad-placeholder-tmpl.jade')
        h3 Data
        p The following (or similar) data structure must exist to be able to use Ad Placeholder widget.

        +printJson({
            "data": {
                "ad": "Ad Placeholder ID"
            }
        })


    | #{''}

    section.source_section
        h2 Examples

        h3 PB Edit: Ad Placeholder - No Placeholder
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder-none--edit.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 PB Edit: Ad Placeholder - Empty
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder-empty--edit.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 PB Edit: Ad Placeholder - Ad Exists
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder--edit.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Normal: Ad Placeholder - No Placeholder
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder-none.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Normal: Ad Placeholder - Ad Doesn't Exist
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder-empty.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Normal: Ad Placeholder - Ad Exists
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Debug: Ad Placeholder - No Placeholder
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder-none--debug.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Debug: Ad Placeholder
        .source_example
            | !{pb.render("ad-placeholder", "ad-placeholder--debug.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

    | #{''}


