header.header.base(data-db-parent-of="sb1")
    a(href="#afterNav-" + random).sr-only-focusable Skip to main content
    .container.visible-lg
        .row
            .col-xs-12
                .pb-ad
                    a(href='#')
                        img(src='http://placeimg.com/728/90/tech')
    .scrollThenFix
        .header--first-row.homepage
            .container
                .pull-left
                    | !{logo}
                .pull-right
                    .institution-wrapper
                        | !{institution}
                    .header__quick-menu
                        ul.rlist--inline
                            li
                                | !{search}
                            li
                                | !{cart}
                            li
                                | !{user}
        .primary-bg-color.text-onDark.drawer__nav
            | !{mainmenu}
    span(id="afterNav-" + random tabindex="-1")