extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    .source_info
        p The <strong>Header</strong> template contains the following components:
          | #[a(href="../../widgets/html/") Html widget],
          | #[a(href="../../widgets/images/") Images widget],
          | #[a(href="../../widgets/user-login-bar/") user-login-bar],
          | #[a(href="../../widgets/institution-banner/") institution-banner],



    section.source_section
        h2 Header

        h3 Homepage Header
        .source_example.source_visible
            | !{pb.render("header", "header-home", "header-home.json")}
            
        h3 Search Results Header
        .source_example.source_visible
            | !{pb.render("header", "header.json")}    

        h3 Example of PHYTO Themed Header
        .source_example.source_visible
            | !{pb.render("header", "header-journal.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-phyto"]}}}})}

        h3 Example of MPMI Themed Header
        .source_example.source_visible
            | !{pb.render("header", "header-mpmi", "header-journal-mpmi.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-mpmi"]}}}})}

    | #{''}
