- var jaLabel = 'First Look';
- var aopLabel = 'Just Published';
- var currentIssueLabel = 'Current Issue';
- var dropblockTitle = "Archive";
- var dropblockID = "loi__dropBlock";
- var dropblockLink = "/loi/" + data.journal.code
- var addFavoriteLink = data.journal.addFavorite + "&redirectUri=%2Faction%2FshowPreferences%3FmenuTab%3Dfavorites%26type%3DPublication";

div(data-db-parent-of= dropblockID+"__content")
    div.loi__banner.coolBar.stickybar
        .coolBar__wrapper.stickybar__wrapper
            a.hidden-md.hidden-lg.loi-slide__ctrl.w-slide__btn(href="#" data-slide-target="#loi-banner")
                i.icon-toc
                span Journal

            div.loi__banner-list
                #loi-banner.hidden-sm.hidden-xs.pull-left

                    if data.journal.ja
                        a(class='loi__ja loi__aop' href=data.journal.ja.link title=jaLabel)
                            | #{jaLabel}
                    
                    if data.journal.aop
                        a(class='loi__aop' href=data.journal.aop.link title=aopLabel)
                            | #{aopLabel}
                        
                    if data.journal.currentIssue
                        a(class='loi__currentIssue' href=data.journal.currentIssue.link title=currentIssueLabel)
                            | #{currentIssueLabel}

                    a.loi__archive.w-slide__btn(class=dropblockID id=dropblockID href=dropblockLink title=dropblockTitle data-db-target-for=dropblockID+"__content" data-slide-target= '#'+dropblockID+'__content' data-slide-clone='self')
                        | #{dropblockTitle}
                    
                    block customMenuItemsDropBlock
                        | !{pb.renderDropzone(thisWidget, "extraMenuItems")}  

                .loi__banner__right-side.pull-right
                    div.coolBar__section.coolBar-tools.pub-pages-about
                        a(href=addFavoriteLink title="Add to Favorites")
                            i.icon-favorites

                        a(href="#" data-db-target-for="pub_pages_about_new" data-db-switch="icon-close_thin" aria-haspopup="true" aria-controls="pub_pages_about_new_Pop" role="button" id="pub_pages_about_new_Ctrl" data-slide-target="#pub_pages_about_new_Pop" class="about__ctrl w-slide__btn" target="_self")
                            i(aria-hidden="true" class="icon-info")
                            span About

                        div(data-db-target-of="pub_pages_about_new" aria-labelledby="pub_pages_about_new_Ctrl" role="menu" id="pub_pages_about_new_Pop" class="about__block fixed")
                            | !{pb.renderDropzone(thisWidget, "coolbarDropZone")}

            div.dropBlock__holder.dropBlock-loi__holder(data-db-target-of=dropblockID+"__content" id=dropblockID+"__content")
                block loiDropBlock
                    | !{pb.renderDropzone(thisWidget, dropblockID+"DropZone")}