- var jaLabel = 'First Look';
- var aopLabel = 'Just Published';

h2.tocPageHead
    if(data.content.isAheadOfPrint==true)
        | #{aopLabel}
    else if(data.content.isJustAccepted==true)
        | #{jaLabel}
    else
        if(data.content.title)
            | #{data.content.title}
            br
        | Volume #{data.content.volume}, Number #{data.content.issue} 
        if(data.content.coverDate)
            | / #{data.content.coverDate}