extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade



block content

    h1 Home page

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        p Use json file to render Home page info

        +printJson({

        })


    section.source_section
        h2 Home page
        markdown
        code.src-html
        .source_example

            | !{pb.render("header", "header-home", "header-home.json")}
            main.content
                .top-image
                .container
                    | !{pb.render("slideshow", "slideshow/demo/slideshow-demo", "cards.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["card card--extra-gutter slideshow-wrapper slideShow--arrows"]}}}})}

                    .row.separator
                        .col-lg-9.col-md-8.gutterless
                            .col-md-6
                                | !{pb.render("multi-search", "multi-search/multi-search-home", "most-x-featured.json", {"shared": {"model": {"config": {"wrapper": "true", "className": [""], "headingLevel": "h3", "headingClass": ["section__header", "border-bottom"]}, "data": {"title": "JUST PUBLISHED"}}}})}
                            .col-md-6
                                | !{pb.render("publication-list", "publication-list/publication-list-home", "most-x-featured.json", {"shared": {"model": {"config": {"wrapper": "true", "className": [""], "headingLevel": "h3", "headingClass": ["section__header", "border-bottom"]}, "data": {"title": "FEATURED ARTICLES"}}}})}
                            .row.separator--extra
                            //mpu ad
                            .mpu
                        .col-lg-3.col-md-4
                            // tower ad
                            .towerad.side-tower.visible-xlg
                            //mpu ad
                            .mpu
                            .row.separator--extra
                            | !{pb.render('tweets', {"body": [{"screenName": "plantdisease", "height": "510"}]}, {"shared": {"model": {"config": {"wrapper": "true", "headingLevel": "h3", "headingClass": ["section__header border-bottom"]}, "data": {"title": "APS SOCIETY TWITTER"}}}})}




            | !{pb.render("footer", "footer.json")}
    | #{''}