footer
    .back-to-top.clearfix
        i.icon-arrow_u_p
    .footer-top
        .container
            .row
                .col-md-5.left-footer
                    div
                        | !{pb.render('html', {"thisWidget": {"properties": {"render": "html", "html": "<a href=\"#\"><picture class=\"mpmi\"><source srcset=\"/specs/products/aps/releasedAssets/images/aps-green-logo.png\" media=\"(min-width: 533px)\"><source srcset=\"/specs/products/aps/releasedAssets/images/aps-green-header-logo-small.png\" media=\"(max-width: 532px)\"><img srcset=\"/specs/products/aps/releasedAssets/images/aps-green-logo.png\" alt=\"\"></picture></a><a href=\"#\"><picture><source srcset=\"/specs/products/aps/releasedAssets/images/is-mpmi-logo.png\" media=\"(min-width: 533px)\"><source srcset=\"/specs/products/aps/releasedAssets/images/is-mpmi-logo-mobile.png\" media=\"(max-width: 532px)\"><img srcset=\"/specs/products/aps/releasedAssets/images/is-mpmi-logo.png\" alt=\"\"></picture></a>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                    div
                        .contact
                            | !{pb.render('html', {"thisWidget": {"id":"facebookFooter1", "properties": {"render": "html", "html": "<div class=\"contact__address\"><strong>The American Phytopathological Society (<abbr>APS</abbr>)</strong><br><div class=\"contact_streetaddress\" title=\"Postal Address\">3340 Pilot Knob Road, St. Paul, MN 55121 <abbr>USA</abbr></div><div class=\"contact_phone\" title=\"Telephone\">+1.651.454.7250</div><div class=\"contact_fax\" title=\"Fax\">+1.651.454.0766</div><div><span class=\"contact_twitter\" title=\"Twitter\"><a href=\"https://twitter.com/ismpmi\" title=\"icon-twitter\"><i class=\"icon-twitter\" aria-hidden=\"true\"></i> IS-MPMI</span> <span class=\"contact_twitter\" title=\"Twitter\"><a href=\"https://twitter.com/plantdisease\" title=\"icon-twitter\"><i class=\"icon-twitter\" aria-hidden=\"true\"></i> APS</span></div></div>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                .col-lg-7.sitemap.hidden-xs.hidden-sm.hidden-md.col-sm-7.equalHeightContainer
                    .col-sm-4.equalHeightItem
                        | !{pb.render('html', {"thisWidget": {"id":"latestArticleFooter1", "properties": {"render": "html", "html": "<h5>Information</h5><ul class=\"rlist\"><li><a href=\"#\">For Authors</a></li><li><a href=\"#\">For Subscribers</a></li><li><a href=\"#\">For Users</a></li></ul>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                    .col-sm-4.equalHeightItem
                        | !{pb.render('html', {"thisWidget": {"id":"listFooter1", "properties": {"render": "html", "html": "<h5>Help &amp; About Us</h5><ul class=\"rlist\"><li><a href=\"#\">Contact Us</a></li><li><a href=\"#\"><abbr>APS</abbr></a></li><li><a href=\"#\">Privacy Policy</a></li></ul>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
                    .col-sm-4.equalHeightItem
                        | !{pb.render('html', {"thisWidget": {"id":"listFooter12", "properties": {"render": "html", "html": "<h5>Links &amp; Resources</h5><ul class=\"rlist\"><li><a href=\"#\">Scope</a></li><li><a href=\"#\">Impact</a></li><li><a href=\"#\">Permissions</a></li><li><a href=\"#\">Copyright Statement</a></li><li><a href=\"#\">Terms &amp; Conditions</a></li></ul>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
    .footer-bottom.text-onDark
        .container
            .row
                .col-md-5
                .col-md-7
                    | !{pb.render('html', {"thisWidget": {"id":"copyRight1", "properties": {"render": "html", "html": "<div class=\"copyright\">© 2018 The American Phytopathological Society. Powered by Atypon® Literatum.</div>"}}}, {"shared": {"model": {"config": {"wrapper": "false"}}}})}
